In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [4]:
s = football['Club'].value_counts()
s.count()

650

In [31]:
s = football['Club'].value_counts()
s.index[-1]

'Atlético Mineiro'

In [42]:
s = football['Position'].value_counts(normalize=True)
s[s>0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [43]:
s = football['Position'].value_counts(normalize=True)
s[s<0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [48]:
s = football['FKAccuracy'].value_counts(normalize=True)
s
#я не понял, что тут нужно найти

32    0.029619
35    0.027991
42    0.027526
40    0.027371
39    0.026595
        ...
3     0.000078
90    0.000078
92    0.000078
93    0.000078
94    0.000078
Name: FKAccuracy, Length: 89, dtype: float64

In [51]:
s = football['FKAccuracy'].value_counts(normalize=True)
round(s.mean() * 100,5)

1.1236

In [82]:
s = football[football.Nationality=='Spain'].Wage.value_counts(normalize=True,bins=4)
a = football[football.Nationality=='Spain'].Wage.mean()
s

(620.999, 95750.0]      False
(95750.0, 190500.0]     False
(190500.0, 285250.0]    False
(285250.0, 380000.0]    False
Name: Wage, dtype: bool

In [87]:
s = football[football.Club=='Manchester United'].Nationality.value_counts()
s.count()

13

In [93]:
football.FKAccuracy.value_counts(bins = 5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [101]:
s = football[(football.Club=='Juventus')&(football.Nationality=='Brazil')].Name

s.unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [106]:
s = football[football.Age>35].Club.value_counts()
s.index[1]

'Club Atlético Huracán'